{% extends "base.html" %}

{% block title %}

О нас

{% endblock %}

{% block content %}

<img src="media/fon.jpg"></img>

<p>
    ЗооЧудо - это уникальный мир фантазии и волшебства, где сбываются самые заветные детские мечты о встрече с загадочными существами и магическими созданиями. Этот зоопарк представляет собой нечто среднее между обычным зоопарком и фантастическим миром.
</p>

<h3>Особенности ЗооЧудо:</h3>

<ol type="1">
    <li>Магические существа: Здесь вы можете встретить не только обычных животных, но и магических созданий, таких как единороги, драконы, феи и грифоны. Они живут в специально созданных средах, где посетители могут наблюдать и даже взаимодействовать с ними.</li>
    <li>Путешествие во времени: ЗооЧудо предлагает уникальную возможность путешествия во времени. Посетители могут отправиться в прошлое и увидеть динозавров или же попасть в будущее и познакомиться с инопланетными существами.</li>
    <li>Флора и фауна мировых уголков: ЗооЧудо представляет разнообразие экосистем и ландшафтов со всего мира. Здесь можно увидеть не только животных, но и разнообразные виды растений и даже водопады и джунгли.</li>
    <li>Образование и развлечения: Место также уделяет внимание образованию и развлечениям. Есть интерактивные уроки о природе и фантастические шоу с участием магических существ.</li>
    <li>Семейная атмосфера: ЗооЧудо создает дружелюбную и безопасную атмосферу для семей и детей всех возрастов, где каждый посетитель может почувствовать себя частью волшебной истории.</li>
</ol>

{% endblock %}