{% extends "base.html" %}
{% block title %}

О нас

{% endblock %}

{% block content %}

<iframe width="700" height="400" src="https://www.youtube.com/watch?v=yHkFRhuRHqI" allowfullscreen></iframe>

<table>
    <tr>
        <td><img src="media/logo.jpeg"></td>
        <td style="width:1500px"><div class="container"><svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
  <ellipse cx="750" cy="75" rx="750" ry="75" fill="#FFF8DC" />
  <text x="50%" y="50%" text-anchor="middle" fill="#8B4513" font-size="14">
    ЗооЧудо - это уникальный мир фантазии и волшебства, где сбываются самые заветные детские мечты о встрече с загадочными существами и магическими созданиями.
  </text>
</svg>
</div>
        </td>
    </tr>
</table>

<h3>Особенности ЗооЧудо:</h3>

<ol type="1">
    <li>Магические существа: Здесь вы можете встретить не только обычных животных, но и магических созданий, таких как единороги, драконы, феи и грифоны. Они живут в специально созданных средах, где посетители могут наблюдать и даже взаимодействовать с ними.</li>
    <li>Путешествие во времени: ЗооЧудо предлагает уникальную возможность путешествия во времени. Посетители могут отправиться в прошлое и увидеть динозавров или же попасть в будущее и познакомиться с инопланетными существами.</li>
    <li>Флора и фауна мировых уголков: ЗооЧудо представляет разнообразие экосистем и ландшафтов со всего мира. Здесь можно увидеть не только животных, но и разнообразные виды растений и даже водопады и джунгли.</li>
    <li>Образование и развлечения: Место также уделяет внимание образованию и развлечениям. Есть интерактивные уроки о природе и фантастические шоу с участием магических существ.</li>
    <li>Семейная атмосфера: ЗооЧудо создает дружелюбную и безопасную атмосферу для семей и детей всех возрастов, где каждый посетитель может почувствовать себя частью волшебной истории.</li>
</ol>

    <h3>История ЗооЧудо:</h3>

    <div>
        <p><b>1950 год:</b></p>
        <p>Зоопарк "ЗооЧудо" открыл свои двери для посетителей. Он стал домом для различных видов животных со всего мира, и его целью было сохранение и образование о животном мире.</p>
    </div>

    <div>
        <p><b>1975 год:</b></p>
        <p>Зоопарк стал активно участвовать в программах по сохранению и разведению уязвимых и исчезающих видов. Он создал специальные условия искусственного разведения для различных животных.</p>
    </div>

    <div>
        <p><b>1990 год:</b></p>
        <p>Зоопарк провел обширное обновление и расширение своих помещений и вольеров. Были добавлены новые экспозиции и аттракционы для посетителей.</p>
    </div>

    <div>
        <p><b>2005 год:</b></p>
        <p>Зоопарк "ЗооЧудо" стал аккредитованным учреждением, участвующим в международных программах по сохранению биоразнообразия. Его работа получила мировое признание.</p>
    </div>

    <div>
        <p><b>2020 год:</b></p>
        <p>Зоопарк продолжает свою миссию сохранения дикой природы и образования. Он проводит научные исследования, оказывает помощь угрожаемым видам и вдохновляет посетителей на бережное отношение к окружающей среде.</p>
    </div>

    <div>
        <p><b>Сегодня:</b></p>
        <p>Зоопарк "ЗооЧудо" остается ведущим учреждением в области сохранения и образования о природе. Он приглашает всех желающих на увлекательное путешествие в мир животных и природы.</p>
    </div>

      <div>
        <h3><b>Реквизиты:</b></h3>
        <p>Адрес: ул. Зоопарк, 123</p>
        <p>Телефон: +375 (29) 123-45-67</p>
        <p>Email: info@zoo-chudo.com</p>
    </div>

<a href="certificate" target="_blank">Сертификат</a>
<br>
<a href="politics">Политика конфиденциальности</a>
<br>
<a href="faq">Вопрос-ответ</a>

{% endblock %}