{% extends "base.html" %}

{% block title %}

Животные

{% endblock %}

{% block content %}

<div class="search-container">
    <form method="GET">
        <input type="text" name="q" placeholder="Поиск...">
        <button type="submit">Поиск</button>
    </form>
</div>

<form method="post">
    {% csrf_token %}
    <select name="selected_enclosure_id">
        <option value="all">Все помещения</option>
        {% for enclosure in enclosures %}
        <option value="{{ enclosure.id }}">{{ enclosure.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Сортировать</button>
</form>

{% if animals %}
<ul>
{% for animal in animals%}
<li>
    <h2><a href="{% url 'zoo:animal_details' animal.id %}" >{{animal.name}}</a></h2>
    <img src="{{animal.photo.url}}" alt="image" width="400">
    <br>
    <p>{{animal.facts}}</p>
</li>
{% endfor %}
</ul>
{% else %}

<p>Ничего не найдено.</p>

{% endif %}
{% endblock %}