{% extends "base.html" %}

{% block title %}

{{animal.name}}

{% endblock %}

{% block content %}

<h1>{{animal.name}}</h1>

<div class="animal-details">

<img src="{{animal.photo.url}}">
<ul>

    {% if user.is_superuser %}
    <a href="{% url 'zoo:edit_animal' animal.id %}">Редактировать</a>
    {% endif %}

    <li class="bold">{{animal.name}}</li>
    <li>Вид: {{animal.species}}</li>
    <li>Класс: {{animal.animal_class}}</li>
    <li>Страна обитания:
        <ul>
        {% for habitat_country in animal.habitat_countries.all%}
            <li>{{habitat_country}}: {{habitat_country.description}}</p></li>

        {% endfor %}
        </ul>
    </li>
    <li>Дата поступления в зоопарк: {{animal.entry_date}}</li>
    <li>Год рождения: {{animal.birth_year}}</li>
    <li>Что кушает:
    <ul>
        {% for item in unique_foods.all %}
            <li>{{item.name}}</li>
        <p>Состав: {{item.composition}}</p>
        {% endfor %}
    </ul>
    </li>
    <li>Факты: {{animal.facts}}</li>
</ul>
</div>
{% endblock %}
