{% extends "base.html" %}
{% load static %}

{% block title %}

Трекер питания

{% endblock %}

{% block content %}

<h1>Трекер питания моих животных</h1>

{% if user.is_staff %}
       <form method="get" id="food-consumption-form">

       <label for="date_input">Дата:</label>
       <input type="date" id="date_input" name="selected_date">

        <select name="selected_animal_id">
            <option value="">Выберите животное</option>
            {% for animal in animals %}
            <option value="{{ animal.id }}">{{ animal.name }}</option>
            {% endfor %}
        </select>

        <input type="submit" id="show-info-submit" value="Показать данные">

    </form>

    <hr>

     <div id="animalData">
        {% if selected_animal %}
        <h3>{{ selected_animal.name }}</h3>
        <ul>
            {% for food_consumption in food_consumptions %}
            <li>
                <p><b>Еда:</b> {{ food_consumption.food.name }}</p>
                <p><b>Состав:</b> {{ food_consumption.food.composition }}</p>
                <p><b>Дата:</b> {{ food_consumption.date }}</p>
                <p><b>Количество:</b><span id="amount"> {{ food_consumption.daily_amount }} </span></p>
            </li>
            {% endfor %}
        </ul>
        <div id="result-sum">
         <input type="button" value="Cумма еды" id="sum-food">
        </div>
         {% else %}
         <p>Выберите животное и дату</p>
         {% endif %}
    </div>
{% else %}
    <p>{{ error_message }}</p>
{% endif %}

<script src="{% static 'animalFood.js' %}"></script>

{% endblock %}
