{% extends "base.html" %}

{% block title %}

Купоны и промокоды

{% endblock %}

{% block content %}
<h1> Купоны и промокоды </h1>
    <div class="coupons">
    <table>
        <tbody>
            {% for coupon in coupons %}
            <tr>
                <td><img src="{{ coupon.image.url }}" alt="image"></td>

                <td>
                    <p><span>Название:</span> {{coupon}}</p>
                    <p><span>Описание:</span> {{ coupon.description }}</p>
                    <p><span>Срок действия до</span> <span class="date">{{ coupon.expiration_date }}</span></p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
