{% extends "base.html" %}

{% block title %}

Купоны и промокоды

{% endblock %}

{% block content %}
<h1> Купоны и промокоды </h1>
    <table>
        <tbody>
            {% for coupon in coupons %}
            <tr>
                <td><img src="{{ coupon.image.url }}" alt="image" width="400"></td>

                <td>
                    <p><b>Название:</b> {{coupon}}</p>
                    <p><b>Описание:</b>  {{ coupon.description }}</p>
                    <p><b>Срок действия до</b>  {{ coupon.expiration_date }}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
