{% extends "base.html" %}

{% block title %}

{{animal.name}}

{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <p>Имя: {{animal.name}}</p>
    <img src="{{animal.photo.url}}" width="400">
    <br>
    <select name="selected_specie_id">
        {% for specie in species %}
        <option value="{{ specie.id }}">{{ specie.name }}</option>
        {% endfor %}
    </select>
    <br>
    <select name="selected_class_id">
        {% for class in classes %}
        <option value="{{ class.id }}">{{ class.name }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="country_input">Страны обитания: </label>
    {% for country in countries %}
    <label for="country_input"> {{country}} </label>
    <input type="checkbox" id="country_input" name="country" value="{{country.id}}"
        {% if country in animal_countries.all %}
            checked
        {% endif %}
    >
    {% endfor %}
    <br>

    <input type="submit" value="Изменить">
</form>
{% endblock %}
