{% extends "base.html" %}

{% block title %}

Профиль сотрудника

{% endblock %}

{% block content %}
<div class="employee_profile">
    <h1>Профиль сотрудника: {{ employee }}</h1>
    <a href="{% url 'zoo:edit_profile' employee.id %}"> Изменить</a>
    <br>
    <table>
        <tr><td>
    <img src={{employee.image.url}}>
        </td>
            <td>
                <p><span class="name_field">Номер телефона:</span> {{ employee.phone_number }}</p>
                <p><span class="name_field">Должность:</span> {{ employee.position }}</p>
                <p><span class="name_field">Описание обязанностей:</span> {{ employee.position.description }}</p>

                <p><span class="name_field">Назначенные помещения:</span></p>
    <ul>
        {% for enclosure in assigned_enclosure %}
            <li><a href="{% url 'zoo:enclosure_details' enclosure.id %}">{{enclosure.name}}({{enclosure.number}})</a></li>
        {% endfor %}
    </ul>
            </td>
        </tr>
    </table>
</div>
{% endblock %}