{% extends "base.html" %}

{% block title %}

Профиль сотрудника

{% endblock %}

{% block content %}
    <h1>Профиль сотрудника: {{ employee }}</h1>
    <br>
    <p><b>Номер телефона:</b> {{ employee.phone_number }}</p>
    <p><b>Должность:</b> {{ employee.position }}</p>
    <p><b>Описание обязанностей:</b> {{ employee.position.description }}</p>

    <p><b>Назначенные помещения:</b></p>
    <ul>
        {% for enclosure in assigned_enclosure %}
            <li><a href="{% url 'zoo:enclosure_details' enclosure.id %}">{{enclosure.name}}({{enclosure.number}})</a></li>
        {% endfor %}
    </ul>
{% endblock %}