{% extends "base.html" %}

{% block title %}

Профиль сотрудника

{% endblock %}

{% block content %}
    <h1>Профиль сотрудника: {{ employee.employee_first_name }} {{ employee.employee_last_name }}</h1>

    <h2>Информация о сотруднике: </h2>
    <p>Номер досматриваемого помещения: {{ employee.employee_position }}</p>

    <h2>Назначенные помещения: </h2>
    <ul>
        {% for enclosure in assigned_enclosure %}
            <li><a href="{% url 'zoo:enclosure_details' enclosure.id %}">{{enclosure.name}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}