{% extends "base.html" %}

{% block title %}

Домики

{% endblock %}

{% block content %}

<h1>Вольеры</h1>

<div class="search-container">
    <form method="GET">
        <input type="text" name="q" placeholder="Поиск...">
        <button type="submit">Поиск</button>
    </form>
</div>

{% if enclosures %}
<ul>
{% for enclosure in enclosures %}
<li>
   <img src="{{enclosure.photo.url}}">

   <a href="{% url 'zoo:enclosure_details' enclosure.id %}">{{enclosure.name}}</a>

</li>
{% endfor %}
</ul>
{% else %}
<p>Ничего не найдено.</p>
{% endif %}

{% endblock %}