{% extends "base.html" %}

{% block title %}

Главная страница

{% endblock %}

{% block content %}
<h1>ЗооЧудо</h1>
<h2>Последние новости</h2>
<a href="{% url 'zoo:news_detail' news.id %}">{{news.title}}</a><br>
<img src="{{news.image.url}}" alt="image" width="400">
<ul>
{% for animal in animals%}
<li>
    <h2><a href="{% url 'zoo:animal_details' animal.id %}">{{animal.name}}</a></h2>
    <img src="{{animal.photo.url}}" alt="image" width="400">
    <br>
    <p>{{animal.facts}}</p>
</li>
{% endfor %}
</ul>

{%if user.is_authenticated%}
<h3> Joke 4u - {{joke.setup}} </h3>
<h3> Cat fact - {{cat.fact}} </h3>
{%endif%}
{% endblock %}