{% extends "base.html" %}

{% block title %}

Вакансии зоопарка

{% endblock %}

{% block content %}
<div class="vacancies">
    <h1>Вакансии зоопарка</h1>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for vacancy in vacancies %}
            <tr>
                <td>{{ vacancy }}</td>
                <td>{{ vacancy.description }}</td>
            </tr>
            {% endfor %}
            <tr><td>Пустая ячейка</td><td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="contacts">
    <dl>
        <dt>Связаться с нами:</dt>
        <dd>
            <p>Адрес: ул. Зоопарк, 123</p>
            <p>Телефон: +375 (29) 123-45-67</p>
            <p>Email: <a href="mailto:info@zoo-chudo.com">info@zoo-chudo.com</a></p>
        </dd>
    </dl>
</div>

{% endblock %}

