{% extends "base.html" %}
{% load static %}

{% block title %}

Новости зоопарка

{% endblock %}

{% block content %}

<div class="search-container">
    <form method="GET">
        <input type="text" name="q" placeholder="Поиск...">
        <button type="submit">Поиск</button>
    </form>
</div>

<div class="news-list">

{% if news_list %}
    {% for news in news_list %}
    <div class="news">
        <h3>{{ news.title }}</h3>
        <span>{{ news.content|truncatechars:100  }}<a href="{% url 'zoo:news_detail' news.id %}">читать далее</a></span>
        <img src="{{ news.image.url }}" alt="{{ news.title }}">
    </div>
    {% endfor %}
{% else %}

<p>Ничего не найдено.</p>

{% endif %}
</div>

<script src="{% static 'news.js' %}"></script>

{% endblock %}
