{% extends "base.html" %}

{% block title %}

Политика конфиденциальности

{% endblock %}

{% block content %}

<div class="politics">

    <p>Зоопарк "ЗооЧудо" обязуется защищать вашу конфиденциальность. Эта политика конфиденциальности объясняет, как мы собираем, используем и защищаем ваши личные данные.</p>

    <h2>Сбор и использование данных</h2>
    <p>Мы можем собирать следующие типы личных данных:</p>
    <ul>
        <li>Имя и контактная информация, которую вы предоставляете при бронировании билетов или подписке на наши новости.</li>
        <li>Информация о посещении зоопарка, включая дату и время посещения, а также информацию о билетах.</li>
        <li>Личные предпочтения и интересы в области животных и мероприятий.</li>
    </ul>

    <p>Мы используем ваши личные данные для следующих целей:</p>
    <ul>
        <li>Для обеспечения вам доступа к мероприятиям и услугам зоопарка.</li>
        <li>Для информирования вас о новостях, мероприятиях и специальных предложениях зоопарка.</li>
        <li>Для анализа посещаемости и предпочтений посетителей с целью улучшения наших услуг.</li>
    </ul>

    <h2>Защита данных</h2>
    <p>Мы принимаем меры для защиты ваших личных данных от несанкционированного доступа, использования или раскрытия. Ваши данные хранятся в безопасной среде и доступ к ним имеют только сотрудники, которым это необходимо для выполнения своих обязанностей.</p>

    <h2>Изменения в политике конфиденциальности</h2>
    <p>Мы можем периодически обновлять эту политику конфиденциальности, чтобы отражать изменения в наших практиках обработки данных. Мы рекомендуем вам регулярно проверять эту страницу для получения актуальной информации о наших политиках.</p>

</div>
{% endblock %}
