{% extends "base.html" %}

{% load static %}

{% block title %}

JS

{% endblock %}

{% block content %}
<div class="js-page">

<h1>Страница для демонстрации JS</h1>

    <a href="/task_11">Задание №11</a>
    <a href="/inheritance">Наследование</a>

    <a href="" id="ad-link" target="_blank" style="height: 30vh; display: flex; vertical-align: center; justify-content: center;">
        <img id="rotator" src="static/7karat.jpg" alt="Ротация изображений" style="width: 60%;"/>
    </a>

        {% if user.is_superuser %}

    <div class="center">
        <input type="button" id="start-stop" value="Старт">

        <label for="delay">Промежуток ротации</label>
    <input type="range" id="delay" name="delay" min="1000" max="5000" step="10">

    </div>

        {% endif %}

<div class="edit-form-style">
<input type="button" id="edit-style" value="Изменить стиль">
</div>

    <div class="table-range center">

    <label for="el-amount">Количество элементов в таблице</label>
    <input type="range" id="el-amount" name="el-amount" min="10" max="60" step="5">
<br>
        <div class="edit-table">
            <input type="button" id="add-row-button" value="Добавить строку" disabled>
            <br>
            <input type="button" id="add-column-button" value="Добавить столбец" disabled>
            <br>
            <input type="button" id="transpose-button" value="Транспонировать таблицу" disabled>
            <br>
            <input type="text" id="select-limit" minlength="0" maxlength="10"  placeholder = "Макс. выделенных ячеек" disabled>
        </div>

    </div>

    <div class="scroll-animated-container">
        <img src="static/monkey.png" alt="animated animal" id="monkey">
        <img src="static/banana.png" alt="animated animal" id="banana">
    </div>

</div>
{% endblock %}

